body {
  font-size: 62.5%;
  background: url("../../img/cartographer.png") repeat;
  color: #20004d; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#ffd000), color-stop(50%, #a400b3), to(#150033));
    background-image: linear-gradient(to right, #ffd000 0%, #a400b3 50%, #150033 100%);
    opacity: 0.6; }

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: "Muli", sans-serif; }

.site-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.6rem; }

h1 {
  font-family: "Mogra", cursive;
  font-size: 6.4rem;
  color: #fff6cc; }

h2 {
  font-family: "Mogra", cursive;
  font-size: 4.8rem; }

.container {
  background: rgba(64, 64, 64, 0.2);
  padding: 2rem; }

.user-input {
  color: #20004d; }

.results-text {
  font-size: 1.8rem; }

.time-result {
  font-size: 4.8rem;
  color: #fff6cc;
  font-family: "Mogra", cursive; }

.copyright,
.disclaimer {
  font-size: 1.8rem; }
