.user-input {
    color: $color-text-dark;
}

.input-label {
    font-size: $font-size-sm;
}

.btn-submit {
    background-color: $color-text-dark;
    color: $color-text;
    border-color: $color-text-dark;
    margin-top: 2.4rem;

    &:focus,
    &:hover {
        background-color: lighten($color-text-dark, 10%);
        color: $color-text;
        border-color: $color-text-dark;
    }
}
