// Colors
$color-bg: hsl(49, 100%, 50%);
$color-text: hsl(49, 100%, 90%);
$color-text-dark: hsl(265, 100%, 15%);
$color-container: hsla(0, 0%, 25%, .2);
$color-sunrise-base: hsl(49, 100%, 50%);
$color-median-base: hsl(295, 100%, 35%);
$color-sunset-base: hsl(265, 100%, 10%);

// Fonts
$font-header: 'Mogra', cursive;
$font-copy: 'Muli', sans-serif;

$font-size-base: 1.8rem;
$font-size-lg: 2.4rem;
$font-size-main-header: 6.4rem;
$font-size-sub-header: 4.8rem;
